[Unit]
Description=server servie
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
StandardOutput=null
StandardError=journal
Type=oneshot
SyslogIdentifier=server-service
ExecStart=/usr/bin/webrouter
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
