[Unit]
Description=server servie

[Service]
StandardOutput=null
StandardError=journal
Type=oneshot
SyslogIdentifier=server-service
ExecStart=/usr/bin/webrouter
Restart=on-failure

[Install]
WantedBy=multi-user.target
