[Unit]
Description=monitoring service

[Service]
StandardOutput=null
StandardError=journal
Type=oneshot
SyslogIdentifier=monitoring-service
ExecStart=/usr/bin/system-monitor

[Install]
WantedBy=multi-user.target
